name: urlapp //lab1-build 1
on:
  push:
    branches: ["main"]
jobs:
  build:
    name: Build Stage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: pip install -r requirements.txt
  test:
    name: test Stage
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10" 
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest
      - name: Run pytest
        run: pytest tests/
  docker:
    name: docker Stage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: kgupta05/lab1-build:latest
  deploy:
    name: Deploy to ec2
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Deploy over ssh
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull kgupta05/lab1-build:latest
            docker run -d -p 5000:5000 --name urlapp kgupta05/lab1-build:latest
